.about {
    /* background: url('../assets/studentlego.jpg') no-repeat center/cover; */
    background-color: white;
    width: 100%;
    height: 110vh;
    position: relative;
}

.about .container {
    width: 500px;
    margin: auto;
    padding-top: 12rem;
    flex-direction: row;
    justify-content: center;
    text-align: center;

}

.about h1 {
    font-size: 5rem;
    font-weight: 600;
    color: black;
    padding-bottom: 4rem;
    
}

.about p {
    font-size: 2rem;
    font-weight: 500;
    color: black;
}

@media screen and (max-width:960px) {
    .about .container p {
        font-size: 1.6rem;
    }
}